{% extends 'SacprdAdminBundle:Layout:layout.html.twig' %}
{% block content %}
           <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Категории статей</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for category in categories %}
                                        <tr>
                                            <td>{{ category.name }}</td>
											<td><a href="{{ path('sacprd_page_edit', {id: category.id}) }}"><button type="button" class="btn btn-success btn-circle"><i class="fa fa-edit"></i></button></a></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->



        </div>
        <!-- /#page-wrapper -->
{% endblock %}

